[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
yfinance = "*"

[dev-packages]
autoflake = "*"
pytest = "*"
responses = "*"
pre-commit = "*"
freezegun = "*"
pipenv-setup = {extras = ["black"], version = "*"}
# https://github.com/Madoshakalaka/pipenv-setup/issues/152
vistir = "==0.6.1" 
packaging = "==21.3"

[requires]
python_version = "3.8"

[scripts]
setup = "bash -c \"pre-commit install\""
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && black .\""
format-check = "bash -c \"autoflake --remove-all-unused-imports -c -r . && black --check --diff .\""
