[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
mplfinance = "*"
yfinance = "*"

[dev-packages]
autoflake = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && black .\""
